@import '../../../style/import';

.page__home {
  
  .demo__preview__content--bg {
    padding: 15px;
  }

  .text__content {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .segment {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    min-height: 27px;
    opacity: 1;
    margin: 20px 15px;
  }

  .segment__item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #108ee9;
    font-size: 14px;
    line-height: 1;
    transition: background .2s;
    position: relative;
    border: 1px solid #108ee9;
    width: 100%;
    box-sizing: border-box;
    border-left-width: 0;
    cursor: pointer;

    &:first-child {
      border-left-width: 1px;
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &--selected {
      background: #108ee9;
      color: #fff;
    }
  }

}
