// 阴影
@mixin depth($level:1) {
  @if $level == 1 {
    // box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
  @if $level == 2 {
    // box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px, rgba(0, 0, 0, 0.227451) 0px 2px 5px;
  }
  @if $level == 3 {
    // box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 5px 15px, rgba(0, 0, 0, 0.227451) 0px 3px 5px;
  }
  @if $level == 4 {
    // box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 23px, rgba(0, 0, 0, 0.219608) 0px 5px 9px;
  }
  @if $level == 5 {
    // box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 10px 30px, rgba(0, 0, 0, 0.219608) 0px 8px 10px;
  }
}
